[Unit]
Description=Unison File Synchronnizer
After=network.target

[Service]
Type=simple
Environment="PATH=/usr/local/bin:/usr/bin"
ExecStart=/usr/local/bin/unison
Restart=always
RestartSec=7

[Install]
WantedBy=default.target
